*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: black;

}
body h2{
    text-align: center;
    padding: 3rem 0;
    color: white;
    font-size: 2rem;
    letter-spacing: 3px;
    font-family: cursive;
   
}
.container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    text-align: center;
    gap: 1rem;
    
}
.back   {
    position: absolute;
    top:2%;
    left:2%;

}
.back li{
    list-style: none;
}
.back a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.514);
}
.color-container{
    /* border: 2px solid rgb(255, 255, 255); */
    padding: 3rem;
    border-radius: 10px;
    font-size: 1.6rem;
    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.705);
   
}
    @media screen and (max-width:900px){
        .container{
            grid-template-columns: repeat(3,1fr);
        }
    }
    @media screen and (max-width:620px){
        .container{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @media screen and (max-width:480px){
        .container{
            grid-template-columns: repeat(1 ,1fr);
        }
    }